nav {
  .hamburguesa {
    margin: 1.5rem 0 0 1rem;
  }

  .hamburguesaAnimada {
    svg {
      animation: giroInverso 0.7s;
    }
  }

  #menuDesplegable {
    display: none;
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin-top: 0;
    background-color:$pureBlack;
    color: $totalWhite;
    z-index: 100;
    @media only screen and (min-width : 780px){
    right: 50%;
    box-shadow: 0 4px 8px black;
    }
    @media only screen and (min-width : 1024px){
    right: 60%;
    }
    @media only screen and (min-width : 1220px){
    right: 70%;
    }
    .botonCerrar {
      margin: 1.5rem 0 0 -1rem;
      svg {
        animation: giro 0.7s;
      }
    }
    a {
      color: $totalWhite;
    }
    li {
      @media only screen and (max-width : 780px){
      font-size: 2rem;
      margin: 2rem 0 0 3rem;
      }
      list-style: none;
      font-family: 'bebas_neueregular',sans-serif;
      font-size: 2rem;
      margin: 4rem 0 0 3rem;
      padding-bottom: 1rem;
      border-bottom: .25rem solid $totalWhite;
    }
    li:hover {
      color: $strongYellow;
      border-bottom: .25rem solid $strongYellow;
    }
    img {
      height: 60px;
      margin: 5rem 0 0 3rem;
    }
  }
}

@keyframes giro {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(180deg)}
}

@keyframes giroInverso {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(-180deg)}
}
