.fondoQuienesSomos {
  top: 0;
  left: 0;
  right: 0;
  height: 60vh;
  position: absolute;
  background-color: $strongYellow;
  z-index: -1;
    h1 {
      text-align: center;
      margin-top: 13rem;
    }
    svg {
      height: 170px;
      display: block;
      margin: 22vh auto;
    }
}

.inicioQuienesSomos {
  margin-top: 80vh;
}

.containerColaboradores {
  margin-top: 10rem;
  .colaborador {
    text-align: center;
    margin-top: 10rem;
    h4 {
      margin-bottom: 1rem;
    }
    img {
      max-height: 300px;
      display: block;
      margin: auto;
      margin-bottom: -1rem;
    }
    .button {
      border: 4px solid $strongYellow;
      border-radius: 6px;
      background-color: white;
      font-family: 'Bebas Neue';
      color: black;
      font-size: 1.75rem;
      font-weight: 700;
      padding:1rem;
      padding-left: 3.2rem;
      padding-right: 3.2rem;
    }
    .button:hover {
      background-color: $strongYellow;
    }
  }
}
